.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%; 
  height: 100vh;  
}

.profile {
  background-color: #f0f0f0; 
  padding: 10px;
  height: 100%; 
}

.feed {
  padding: 10px;
  height: 100%; 
}


